# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [13]:
# import numpy and pandas

import pandas as pd
import numpy as np
from scipy import stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [16]:
leg = pokemon.loc[pokemon['Legendary'] == True, :]
non_leg = pokemon.loc[pokemon['Legendary'] == False, :]

In [11]:
pokemon.groupby('Legendary')['Total'].mean()

Legendary
False    417.213605
True     637.384615
Name: Total, dtype: float64

In [12]:
pokemon.groupby('Legendary')['Total'].std()

Legendary
False    106.760417
True      60.937389
Name: Total, dtype: float64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [17]:
stats.ttest_ind(leg['Total'], non_leg['Total'])

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

Como pvalue < 0.05, posso rejeitar a hipótese de que as médias de legendary e non-legendary sejam iguais (hipótese nula) com uma confiança maior que 0.95 (95%).

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [21]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ghost        32
Dragon       32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [50]:
water = pokemon.loc[pokemon['Type 1'] == 'Water', :]
other = pokemon.loc[pokemon['Type 1'] != 'Water', :]

mean_water = water['Total'].mean()
std_water = water['Total'].std()
mean_other = other['Total'].mean()
std_other = other['Total'].std()

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [53]:
stats.ttest_ind(water['Total'], other['Total'])

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

Como pvalue > 0.05, não posso rejeitar a hipótese de que as médias de pokemon water e pokemon non-water sejam iguais (hipótese nula) com uma confiança maior que 0.95 (95%).

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [54]:
stats.ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

Como pvalue < 0.05, posso rejeitar a hipótese de que as médias de attack e defense sejam iguais (hipótese nula) com uma confiança maior que 0.95 (95%).

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [55]:
stats.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

Como pvalue > 0.05, não posso rejeitar a hipótese de que as médias de special attack e special defense sejam iguais (hipótese nula) com uma confiança maior que 0.95 (95%).

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [65]:
stats.ttest_1samp(pokemon['Sp. Atk']-pokemon['Sp. Def'], 0)

Ttest_1sampResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [97]:
cont_table = pd.crosstab(pokemon['Name'], [pokemon['Legendary'], pokemon['Type 1']])
cont_table

Legendary               False                                                  \
Type 1                    Bug Dark Dragon Electric Fairy Fighting Fire Flying
Name
Abomasnow                   0    0      0        0     0        0    0      0
AbomasnowMega Abomasnow     0    0      0        0     0        0    0      0
Abra                        0    0      0        0     0        0    0      0
Absol                       0    1      0        0     0        0    0      0
AbsolMega Absol             0    1      0        0     0        0    0      0
...                       ...  ...    ...      ...   ...      ...  ...    ...
Zoroark                     0    1      0        0     0        0    0      0
Zorua                       0    1      0        0     0        0    0      0
Zubat                       0    0      0        0     0        0    0      0
Zweilous                    0    1      0        0     0        0    0      0
Zygarde50% Forme            0    0      0        0     0        0    0      0

Legendary                            ...  True                                 \
Type 1                  Ghost Grass  ... Flying Ghost Grass Ground Ice Normal
Name                                 ...
Abomasnow                   0     1  ...      0     0     0      0   0      0
AbomasnowMega Abomasnow     0     1  ...      0     0     0      0   0      0
Abra                        0     0  ...      0     0     0      0   0      0
Absol                       0     0  ...      0     0     0      0   0      0
AbsolMega Absol             0     0  ...      0     0     0      0   0      0
...                       ...   ...  ...    ...   ...   ...    ...  ..    ...
Zoroark                     0     0  ...      0     0     0      0   0      0
Zorua                       0     0  ...      0     0     0      0   0      0
Zubat                       0     0  ...      0     0     0      0   0      0
Zweilous                    0     0  ...      0     0     0      0   0      0
Zygarde50% Forme            0     0  ...      0     0     0      0   0      0

Legendary
Type 1                  Psychic Rock Steel Water
Name
Abomasnow                     0    0     0     0
AbomasnowMega Abomasnow       0    0     0     0
Abra                          0    0     0     0
Absol                         0    0     0     0
AbsolMega Absol               0    0     0     0
...                         ...  ...   ...   ...
Zoroark                       0    0     0     0
Zorua                         0    0     0     0
Zubat                         0    0     0     0
Zweilous                      0    0     0     0
Zygarde50% Forme              0    0     0     0

[800 rows x 33 columns]

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: