# Bonus Challenge 2 - ANOVA

In statistics, **Analysis of Variance (ANOVA)** is also used to analyze the differences among group means. The difference between t-test and ANOVA is the former is ued to compare two groups whereas the latter is used to compare three or more groups. [Read more about the difference between t-test and ANOVA](http://b.link/anova24).

From the ANOVA test, you receive two numbers. The first number is called the **F-value** which indicates whether your null-hypothesis can be rejected. The critical F-value that rejects the null-hypothesis varies according to the number of total subjects and the number of subject groups in your experiment. In [this table](http://b.link/eda14) you can find the critical values of the F distribution. **If you are confused by the massive F-distribution table, don't worry. Skip F-value for now and study it at a later time. In this challenge you only need to look at the p-value.**

The p-value is another number yielded by ANOVA which already takes the number of total subjects and the number of experiment groups into consideration. **Typically if your p-value is less than 0.05, you can declare the null-hypothesis is rejected.**

In this challenge, we want to understand whether there are significant differences among various types of pokemons' `Total` value, i.e. Grass vs Poison vs Fire vs Dragon... There are many types of pokemons which makes it a perfect use case for ANOVA. Use Ironhack's database to load the pokemon data (db: pokemon, table: pokemon_stats).

In [2]:
# Import libraries
import pandas as pd

In [34]:
# Load the data:
pokemon = pd.read_csv('../data/pokemon.csv')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

**To achieve our goal, we use three steps:**

1. **Extract the unique values of the pokemon types.**

1. **Select dataframes for each unique pokemon type.**

1. **Conduct ANOVA analysis across the pokemon types.**

#### First let's obtain the unique values of the pokemon types. These values should be extracted from Type 1 and Type 2 aggregated. Assign the unique values to a variable called `unique_types`.

*Hint: the correct number of unique types is 19 including `NaN`. You can disregard `NaN` in next step.*

In [39]:
# Your code here

type1 = pokemon['Type 1'].unique()
type2 = pokemon['Type 2'].unique()
unique_types = np.concatenate((type1, type2))
unique_types = list(set(unique_types))

len(unique_types) # you should see 19
unique_types

[nan,
 'Grass',
 'Water',
 'Fairy',
 'Ice',
 'Psychic',
 'Dragon',
 'Bug',
 'Electric',
 'Fire',
 'Ghost',
 'Rock',
 'Flying',
 'Fighting',
 'Poison',
 'Normal',
 'Ground',
 'Dark',
 'Steel']

#### Second we will create a list named `pokemon_totals` to contain the `Total` values of each unique type of pokemons.

Why we use a list instead of a dictionary to store the pokemon `Total`? It's because ANOVA only tells us whether there is a significant difference of the group means but does not tell which group(s) are significantly different. Therefore, we don't need know which `Total` belongs to which pokemon type.

*Hints:*

* Loop through `unique_types` and append the selected type's `Total` to `pokemon_groups`.
* Skip the `NaN` value in `unique_types`. `NaN` is a `float` variable which you can find out by using `type()`. The valid pokemon type values are all of the `str` type.
* At the end, the length of your `pokemon_totals` should be 18.

In [51]:
# pokemon_totals = []

for unique in unique_types:
    if isinstance(unique, str):
        pokemon_totals.append(pokemon[(pokemon['Type 1'] == unique) | (pokemon['Type 2'] == unique)]['Total'])
        
pokemon_totals

[0      318
 1      405
 2      525
 3      625
 48     320
       ...
 783    335
 784    494
 785    494
 786    494
 787    494
 Name: Total, Length: 95, dtype: int64, 9      314
 10     405
 11     530
 12     630
 59     320
       ...
 759    500
 760    320
 762    330
 763    500
 799    600
 Name: Total, Length: 126, dtype: int64, 40     323
 41     483
 44     270
 45     435
 131    460
 187    218
 188    210
 189    245
 190    405
 198    250
 199    420
 225    300
 226    450
 303    198
 304    278
 305    518
 306    618
 322    190
 328    380
 329    480
 366    590
 487    310
 519    545
 591    545
 606    280
 607    480
 737    303
 738    371
 739    552
 752    341
 753    462
 754    341
 755    480
 770    525
 772    431
 773    500
 777    470
 792    680
 795    600
 796    700
 Name: Total, dtype: int64, 94     475
 98     525
 133    455
 142    535
 156    580
 233    430
 238    250
 239    450
 243    330
 257    305
 395    300
 396    480
 397    580
 398    290
 399    410
 400    530
 415    580
 509    334
 510    494
 511    594
 512    510
 522    525
 524    530
 530    480
 534    520
 643    305
 644    395
 645    535
 674    305
 675    485
 676    485
 710    660
 711    700
 712    700
 768    362
 769    521
 788    304
 789    514
 Name: Total, dtype: int64, 68     310
 69     400
 70     500
 71     590
 85     315
       ...
 747    466
 756    288
 757    482
 797    600
 798    680
 Name: Total, Length: 90, dtype: int64, 7      634
 159    300
 160    420
 161    600
 196    610
 249    540
 275    630
 360    340
 361    520
 365    490
 366    590
 406    300
 407    420
 408    600
 409    700
 417    600
 418    700
 419    600
 420    700
 425    680
 426    780
 491    300
 492    410
 493    600
 494    700
 540    680
 541    680
 544    680
 545    680
 671    320
 672    410
 673    540
 682    485
 694    300
 695    420
 696    600
 706    680
 707    680
 710    660
 711    700
 712    700
 761    494
 766    362
 767    521
 774    300
 775    452
 776    600
 790    245
 791    535
 794    600
 Name: Total, dtype: int64, 13     195
 14     205
 15     395
 16     195
 17     205
       ...
 698    550
 717    600
 732    200
 733    213
 734    411
 Name: Total, Length: 72, dtype: int64, 30     320
 31     485
 88     325
 89     465
 108    330
 109    480
 134    490
 146    525
 157    580
 184    330
 185    460
 186    205
 193    280
 194    365
 195    510
 196    610
 258    360
 262    580
 337    295
 338    475
 339    575
 340    405
 341    405
 448    263
 449    363
 450    523
 464    405
 513    535
 517    540
 531    440
 532    520
 533    520
 534    520
 535    520
 536    520
 581    295
 582    497
 648    428
 656    319
 657    472
 663    275
 664    405
 665    515
 679    471
 704    580
 705    580
 707    680
 764    289
 765    481
 772    431
 Name: Total, dtype: int64, 4      309
 5      405
 6      534
 7      634
 8      634
       ...
 730    382
 731    499
 735    369
 736    507
 799    600
 Name: Total, Length: 64, dtype: int64, 99     310
 100    405
 101    500
 102    600
 215    435
 316    236
 326    380
 327    480
 385    295
 386    455
 387    555
 388    295
 389    455
 472    348
 473    498
 477    495
 490    485
 529    525
 530    480
 531    440
 544    680
 545    680
 623    303
 624    483
 653    335
 654    480
 668    275
 669    370
 670    520
 683    303
 684    483
 748    325
 749    448
 750    520
 751    520
 778    309
 779    474
 780    335
 781    335
 782    335
 783    335
 784    494
 785    494
 786    494
 787    494
 797    600
 Name: Total, dtype: int64, 80     300
 81     390
 82     495
 103    385
 119    345
 120    485
 149    355
 150    495
 151    355
 152    495
 153    515
 154    615
 200    410
 230    505
 237    410
 240    380
 265    300
 266    410
 267    600
 268    700
 323    375
 330    330
 331    430
 332    530
 369    440
 370    440
 377    355
 378    495
 379    355
 380    495
 404    485
 414    580
 453    350
 454    495
 455    350
 456    495
 486    290
 515    535
 528    525
 583    280
 584    390
 585    515
 618    325
 619    475
 625    355
 626    495
 627    401
 628    567
 700    580
 758    306
 759    500
 766    362
 767    521
 768    362
 769    521
 773    500
 795    600
 796    700
 Name: Total, dtype: int64, 6      534
 8      634
 15     395
 20     251
 21     349
       ...
 734    411
 771    500
 790    245
 791    535
 793    680
 Name: Total, Length: 101, dtype: int64, 61     305
 62     455
 67     510
 72     305
 73     405
 74     505
 114    455
 115    455
 163    780
 231    500
 232    600
 255    210
 256    455
 277    405
 278    530
 279    630
 310    460
 320    237
 321    474
 334    280
 335    410
 336    510
 436    405
 437    534
 476    580
 496    285
 497    525
 498    625
 503    300
 504    490
 526    518
 527    618
 558    418
 559    528
 592    305
 593    405
 594    505
 598    465
 599    465
 620    348
 621    488
 680    350
 681    510
 699    580
 700    580
 701    580
 713    580
 714    580
 716    600
 720    530
 742    348
 743    495
 771    500
 Name: Total, dtype: int64, 0      318
 1      405
 2      525
 3      625
 16     195
       ...
 630    474
 651    294
 652    464
 760    320
 761    494
 Name: Total, Length: 62, dtype: int64, 20     251
 21     349
 22     479
 23     579
 24     253
       ...
 735    369
 736    507
 744    472
 764    289
 765    481
 Name: Total, Length: 102, dtype: int64, 32     300
 33     450
 36     505
 39     505
 55     265
       ...
 684    483
 708    600
 709    600
 728    423
 794    600
 Name: Total, Length: 67, dtype: int64, 141    640
 212    525
 213    405
 233    430
 246    330
 247    500
 248    600
 267    600
 268    700
 284    220
 285    420
 297    340
 298    480
 326    380
 327    480
 347    305
 348    460
 349    560
 363    475
 374    468
 392    465
 393    565
 478    505
 482    329
 483    479
 490    485
 502    500
 512    510
 549    600
 568    281
 569    446
 611    292
 612    351
 613    519
 620    348
 621    488
 631    330
 632    510
 685    340
 686    490
 690    370
 691    510
 694    300
 695    420
 696    600
 726    530
 743    495
 756    288
 757    482
 793    680
 798    680
 Name: Total, dtype: int64, 88     325
 89     465
 220    465
 223    510
 224    610
 228    500
 229    600
 245    465
 328    380
 329    480
 330    330
 331    430
 332    530
 333    630
 410    300
 411    420
 412    600
 413    700
 416    580
 427    600
 440    530
 455    350
 456    495
 460    424
 484    300
 485    500
 497    525
 498    625
 513    535
 528    525
 540    680
 542    600
 589    508
 650    495
 658    305
 659    489
 660    300
 661    440
 662    520
 685    340
 686    490
 693    484
 699    580
 717    600
 748    325
 749    448
 750    520
 751    520
 777    470
 Name: Total, dtype: int64]

#### Now we run ANOVA test on `pokemon_totals`.

*Hints:*

* To conduct ANOVA, you can use `scipy.stats.f_oneway()`. Here's the [reference](http://b.link/scipy44).

* What if `f_oneway` throws an error because it does not accept `pokemon_totals` as a list? The trick is to add a `*` in front of `pokemon_totals`, e.g. `stats.f_oneway(*pokemon_groups)`. This trick breaks the list and supplies each list item as a parameter for `f_oneway`.

In [54]:
from scipy import stats

stats.f_oneway(*pokemon_totals)

F_onewayResult(statistic=6.617538296005533, pvalue=2.6457458815984803e-15)

#### Interpret the ANOVA test result. Is the difference significant?

pvalue < 0.5 --> podemos rejeitar a hipÃ³tese nula. Por isso as mÃ©dias do 'Total' de cada tipo de pokemon sÃ£o diferentes.