# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended content.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit the urls below and take a look at their source code through Chrome DevTools. You'll need to identify the html tags, special class names, etc used in the html content you are expected to extract.

**Resources**:
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide)
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are already imported for you. If you prefer to use additional libraries feel free to do it.

In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [154]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [155]:
response = requests.get(url)

In [157]:
html = response.content
soup = BeautifulSoup(html)
# soup

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [8]:
names = soup.find_all('h1', attrs={'class' : 'h3 lh-condensed'})
names = [item.text.strip() for item in names]

In [9]:
usernames = soup.find_all('p', attrs={'class' : 'f4 text-normal mb-1'})
usernames = [item.text.strip() for item in usernames]

In [10]:
list(zip(names,usernames))

[('Ariel Mashraki', 'a8m'),
 ('Anitaa Murthy', 'anitaa1990'),
 ('Vadim Dalecky', 'streamich'),
 ('Hamel Husain', 'hamelsmu'),
 ('Emmanuelle Gouillart', 'emmanuelle'),
 ('Artur Bosch', 'arturbosch'),
 ('Jonah Williams', 'jonahwilliams'),
 ('Jyoti Puri', 'jpuri'),
 ('shimat', 'shimat'),
 ('Jack Zampolin', 'jackzampolin'),
 ('Alon Zakai', 'kripken'),
 ('Jake Wharton', 'JakeWharton'),
 ('Carl Lerche', 'carllerche'),
 ('isaacs', 'isaacs'),
 ('Orne Brocaar', 'brocaar'),
 ('Ulises Gascón', 'UlisesGascon'),
 ('Diego Muracciole', 'diegomura'),
 ('Stéphane Lepin', 'Palakis'),
 ('Matthieu Napoli', 'mnapoli'),
 ('Chet Corcos', 'ccorcos'),
 ('Remi Rousselet', 'rrousselGit'),
 ('Martin Monperrus', 'monperrus'),
 ('Florian Rival', '4ian'),
 ('Nico Schlömer', 'nschloe'),
 ('Satyajit Sahoo', 'satya164')]

#### Display the trending Python repositories in GitHub.

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [82]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [158]:
response = requests.get(url)
html = response.content
soup = BeautifulSoup(html)
# soup

In [111]:
repos = soup.find_all('h1', attrs={'class':'h3 lh-condensed'})
repos = [item.text.strip().replace('/\n\n\n\n     ', '/') for item in repos]
repos

['pennsignals / chime',
 'matrix-org / synapse',
 'huawei-noah / AdderNet',
 'lazyprogrammer / machine_learning_examples',
 'VertaAI / modeldb',
 'stanfordnlp / stanza',
 'geerlingguy / ansible-for-devops',
 'dmlc / gluon-cv',
 'ansible / ansible',
 'ExpDev07 / coronavirus-tracker-api',
 'gto76 / python-cheatsheet',
 'ycm-core / YouCompleteMe',
 'localstack / localstack',
 'vishnubob / wait-for-it',
 'OpenMined / PySyft',
 'lark-parser / lark',
 'vinta / awesome-python',
 'huggingface / transformers',
 'python-telegram-bot / python-telegram-bot',
 'tensorflow / tfx',
 'bitcoin / bips',
 'fishtown-analytics / dbt',
 'django / django',
 'python / mypy',
 'pypa / pip']

#### Display all the image links from Walt Disney wikipedia page.

In [112]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [113]:
response = requests.get(url)
html = response.content
soup = BeautifulSoup(html)

In [149]:
imgs = soup.find_all('img')
[item['src'] for item in imgs]

['//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/1/1b/Semi-protection-shackle.svg/20px-Semi-protection-shackle.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Newman_Laugh-O-Gram_%281921%29.webm/220px-seek%3D2-Newman_Laugh-O-Gram_%281921%29.webm.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/7/71/Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg/170px-Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Disney_Display_Case.JPG/170px-Disney_Display_Case.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/4/44/The_Walt_Disney_Company_Logo.svg/120px-The_Walt_Disney_Company_Logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/30px-Animation_disc.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/29px-P_vip.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/24px-Magic_Kingdom_castle.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/30px-Video-x-generic.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/30px-Flag_of_Los_Angeles_County%2C_California.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/30px-Blank_television_set.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/30px-Flag_of_the_United_States.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/22px-Commons-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/25px-Wikiquote-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/30px-Wikidata-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 '//en.wikipedia.org/wiki/Special:CentralAutoLogin/start?type=1x1',
 '/static/images/wikimedia-button.png',
 '/static/images/poweredby_mediawiki_88x31.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page.

In [150]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [159]:
response = requests.get(url)
html = response.content
soup = BeautifulSoup(html)
# soup

In [1]:
links = [item['href'] for item in soup.find_all('a', attrs={'href': re.compile("^http")})]

NameError: name 'soup' is not defined

#### Find the number of titles that have changed in the United States Code since its last release point.

In [254]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [255]:
response = requests.get(url)
html = response.content
soup = BeautifulSoup(html)

In [267]:
tit = soup.find_all('div', attrs={'class':'usctitlechanged'})
len([item.text.strip() for item in tit])

32

#### Find a Python list with the top ten FBI's Most Wanted names.

In [269]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [270]:
response = requests.get(url)
html = response.content
soup = BeautifulSoup(html)

In [279]:
names = soup.find_all('h3', attrs={'class':'title'})
[item.text.strip() for item in names]

['RAFAEL CARO-QUINTERO',
 'ROBERT WILLIAM FISHER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ',
 'YASER ABDEL SAID',
 'JASON DEREK BROWN',
 'ALEXIS FLORES',
 'EUGENE PALMER',
 'SANTIAGO VILLALBA MEDEROS']

####  Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe.

In [28]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [29]:
etq = pd.read_html(requests.get(url).content)[3]

In [30]:
etq = etq[['Date & Time UTC', 'Latitude degrees', 'Longitude degrees', 'Last update [-]']]

In [31]:
etq.rename(columns={'Latitude degrees': 'Latitude', 'Longitude degrees':'Longitude', 'Last update [-]':'Region Name'}, inplace=True)

In [32]:
etq.columns = etq.columns.droplevel(level=1)

In [33]:
etq.loc[:19,:]

,Date & Time UTC,Latitude,Latitude,Longitude,Longitude,Region Name
0,2020-03-19 00:36:05.135min ago,40.33,N,124.39,W,OFFSHORE NORTHERN CALIFORNIA
1,2020-03-19 00:16:32.855min ago,38.51,N,15.20,E,"SICILY, ITALY"
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
5,2020-03-18 23:54:26.01hr 17min ago,7.07,S,108.70,E,"JAVA, INDONESIA"
6,2020-03-18 23:50:06.01hr 21min ago,0.17,S,132.40,E,"NEAR N COAST OF PAPUA, INDONESIA"
7,2020-03-18 23:34:48.71hr 36min ago,41.79,N,19.92,E,ALBANIA
8,2020-03-18 23:33:05.01hr 38min ago,34.73,S,71.75,W,"LIBERTADOR O'HIGGINS, CHILE"
9,2020-03-18 23:17:47.01hr 53min ago,40.39,N,124.56,W,OFFSHORE NORTHERN CALIFORNIA
10,2020-03-18 23:15:13.11hr 56min ago,40.77,N,112.09,W,"WASATCH FRONT URBAN AREA, UTAH"
11,2020-03-18 23:14:41.91hr 56min ago,17.87,N,66.98,W,PUERTO RICO REGION
12,2020-03-18 23:07:21.42hr 04min ago,38.51,N,44.51,E,TURKEY-IRAN BORDER REGION
13,2020-03-18 23:04:27.42hr 07min ago,17.92,N,66.88,W,PUERTO RICO REGION
14,2020-03-18 22:51:50.02hr 19min ago,10.49,S,115.23,E,"SOUTH OF BALI, INDONESIA"
15,2020-03-18 22:46:29.02hr 25min ago,40.75,N,112.08,W,"WASATCH FRONT URBAN AREA, UTAH"
16,2020-03-18 22:37:48.82hr 33min ago,36.55,N,121.11,W,CENTRAL CALIFORNIA
17,2020-03-18 22:12:47.62hr 58min ago,36.46,N,98.77,W,OKLAHOMA
18,2020-03-18 22:10:47.53hr 00min ago,46.50,N,9.80,E,SWITZERLAND
19,2020-03-18 22:08:20.33hr 03min ago,40.31,N,124.40,W,OFFSHORE NORTHERN CALIFORNIA

#### Count the number of tweets by a given Twitter account.
Ask the user for the handle (@handle) of a twitter account. You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account.

In [2]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [4]:
def count_tweets():
    url = 'https://twitter.com/'
    user = str(input('Insert a twitter username: '))
    url = url + user
    response = requests.get(url)
    try:
        response.status_code == 200
        html = response.content
        soup = BeautifulSoup(html)
        tweets_nav = soup.find('li', {'class':'ProfileNav-item ProfileNav-item--tweets is-active'})
        tweets = int(tweets_nav.find('a').find('span', {'class':'ProfileNav-value'})['data-count'])
        return tweets
    except:
        print('Username not found!')
        return False

In [5]:
while True:
    tweets = count_tweets()
    if tweets != False:
        print(f'{tweets} tweets')
        break

Insert a twitter username: ndiuqbdqosidxhqieubc
Username not found!
Insert a twitter username: g1
674597 tweets

#### Number of followers of a given twitter account
Ask the user for the handle (@handle) of a twitter account. You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the followers for any provided account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [6]:
def count_followers():
    url = 'https://twitter.com/'
    user = str(input('Insert a twitter username: '))
    url = url + user
    response = requests.get(url)
    try:
        response.status_code == 200
        html = response.content
        soup = BeautifulSoup(html)
        tweets_nav = soup.find('li', {'class':'ProfileNav-item ProfileNav-item--followers'})
        followers = int(tweets_nav.find('a').find('span', {'class':'ProfileNav-value'})['data-count'])
        return followers
    except:
        print('Username not found!')
        return False

In [7]:
while True:
    followers = count_followers()
    if followers != False:
        print(f'{followers} followers')
        break

Insert a twitter username: nidweuf
Username not found!
Insert a twitter username: g1
10853555 followers

#### List all language names and number of related articles in the order they appear in wikipedia.org.

In [29]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [30]:
response = requests.get(url)
html = response.content
soup = BeautifulSoup(html)

In [34]:
lang = soup.find_all('div', attrs={'class':'central-featured-lang'})
[item.text.strip().replace('\n', ' ').replace('\xa0', '') for item in lang]

['English 6029000+ articles',
 'Español 1581000+ artículos',
 '日本語 1193000+ 記事',
 'Deutsch 2406000+ Artikel',
 'Русский 1602000+ статей',
 'Français 2187000+ articles',
 'Italiano 1588000+ voci',
 '中文 1101000+ 條目',
 'Português 1023000+ artigos',
 'Polski 1388000+ haseł']

#### A list with the different kind of datasets available in data.gov.uk.

In [26]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [27]:
response = requests.get(url)
html = response.content
soup = BeautifulSoup(html)

In [28]:
ds = soup.find_all('h2')
[item.text for item in ds]

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport']

#### Display the top 10 languages by number of native speakers stored in a pandas dataframe.

In [35]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [44]:
top_lang = pd.read_html(url)[0]
top_lang = top_lang.sort_values(by='Speakers(millions)', ascending=False).head(10)
top_lang[['Language', 'Speakers(millions)']]

                             Language  Speakers(millions)
0                    Mandarin Chinese               918.0
1                             Spanish               480.0
2                             English               379.0
3  Hindi (Sanskritised Hindustani)[9]               341.0
4                             Bengali               228.0
5                          Portuguese               221.0
6                             Russian               154.0
7                            Japanese               128.0
8                 Western Punjabi[10]                92.7
9                             Marathi                83.1

## Bonus
#### Scrape a certain number of tweets of a given Twitter account.

In [56]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [137]:
user = str(input('Twitter username: '))
qty_tweets = int(input('How many tweets do you want to see? (Max: 20) '))
response = requests.get(url + user)
html = response.content
soup = BeautifulSoup(html)
tweets = soup.find_all('p', attrs={'class':'TweetTextSize'})
for i in range(qty_tweets):
    print('\n')
    tweet = tweets[i+1].text.replace('\xa0', '')
    print(tweet)

Twitter username: g1
How many tweets do you want to see? (Max: 20) 20


#Coronavírus: 662 brasileiros retidos no Peru retornam ao país nesta sexta, informa Ministério do Turismo https://glo.bo/2Ws3yQApic.twitter.com/akhALZH8zM


Coronavírus pode infectar a mesma pessoa duas vezes? A pergunta que intriga cientistas https://glo.bo/2wl5OhN #G1pic.twitter.com/9phVx1Yxzc


Farmácia, mercado e banco: vizinhos oferecem ajuda a moradores isolados pelo #coronavírus https://glo.bo/2UnEkzV #G1pic.twitter.com/j6UAjBGdA5


#Coronavírus: o que diz o modelo matemático que levou o Reino Unido a mudar radicalmente combate à Covid-19 https://glo.bo/2Qu7T1O #G1pic.twitter.com/XU7r2EfSci


Festivais sem sair de casa: lives são opção para quem quer ver shows durante quarentena https://glo.bo/399iohH #G1pic.twitter.com/fUmJ2FgwgF


"Alguns consideram que são pequenos heróis quando violam as regras. Mas não, são imbecis e sobretudo uma ameaça para si mesmos", declarou nesta quinta-feira o ministro do Interior da França, Christophe Castaner https://glo.bo/2x4eitH #G1 #Coronavírus


PRF prorroga prazo para recorrer de multas aplicadas pela instituição https://glo.bo/3b9dSkp #G1pic.twitter.com/FdPkA7b2qK


Na Europa, o confinamento priva as famílias dos velórios de parentes https://glo.bo/390Gcnx #G1 #Coronavíruspic.twitter.com/9PDoe690rY


Portugal declara estado de emergência por causa do coronavírus https://glo.bo/2w9xgiB #G1pic.twitter.com/qQCAe5IxXu


Brasil fecha fronteiras terrestres, mas libera cargas e ações humanitárias https://glo.bo/2U0KneV #G1pic.twitter.com/SZpkrUDZrF


Missa do padroeiro do Ceará é transmitida on-line e sem fiéis na igreja https://glo.bo/2Un84wP #G1 #Coronavíruspic.twitter.com/Wnk3SI98mn


#Coronavírus: Prefeitura do Rio determina o fechamento de praças gradeadas para evitar aglomerações https://glo.bo/3d5IBka #G1 #CoronavírusnoBrasilpic.twitter.com/6SFKUSlWBr


Governo do RJ confirma a segunda morte por coronavírus; vítima é homem de Niterói https://glo.bo/3dcoTU3 #G1pic.twitter.com/U932BKVDFl


#Coronavírus: Brasil tem 5 mortes e mais de 530 infectados: veja números por estado https://glo.bo/3baWa01 #G1pic.twitter.com/pS3amQnLlW


Para alertar sobre combate ao coronavírus, Turma da Mônica coloca Cascão para lavar as mãos https://glo.bo/2IYwIyD #G1pic.twitter.com/ltuXyeKQUk


Príncipe de Mônaco tem resultado positivo para coronavírus https://glo.bo/3b819i0 #G1pic.twitter.com/7VjUC17yBV


#Coronavírus: arte reflete impacto mundial da doença; veja outras fotos https://glo.bo/3b6mUPa #G1pic.twitter.com/QmHk0jxap0


Exército da Itália retira corpos de cidade sobrecarregada pelo coronavírus https://glo.bo/33wOfYi #G1pic.twitter.com/40gwZ2J3ea


China não tem novos casos de transmissão local de Covid-19 pela primeira vez https://glo.bo/393V4ll #G1pic.twitter.com/XlXYzD8EPa


Quanto tempo o coronavírus sobrevive nas superfícies? Estudo aponta que plástico e aço ampliam a sobrevida https://glo.bo/3dgjQ58 #G1 #Coronavírus #CoronavírusnoBrasilpic.twitter.com/KO5qDDv2AA

#### Display IMDB's top 250 data (movie name, initial release, director name and stars) as a pandas dataframe.

In [15]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [16]:
movies = pd.read_html(url)[0]
movies[['Rank & Title', 'IMDb Rating']].head(250)

                                          Rank & Title  IMDb Rating
0                    1.  Um Sonho de Liberdade  (1994)          9.2
1                        2.  O Poderoso Chefão  (1972)          9.1
2                     3.  O Poderoso Chefão II  (1974)          9.0
3           4.  Batman: O Cavaleiro das Trevas  (2008)          9.0
4                 5.  12 Homens e uma Sentença  (1957)          8.9
..                                                 ...          ...
245                       246.  Um Contratempo  (2016)          8.0
246                 247.  Guardiões da Galáxia  (2014)          8.0
247                          248.  A Chantagem  (2015)          8.0
248                     249.  Feitiço do Tempo  (1993)          8.0
249  250.  Neon Genesis Evangelion: O Fim do Evange...          8.0

[250 rows x 2 columns]

#### Display the movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [17]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [18]:
movies = pd.read_html(url)[0]
top_10_movies = movies[['Rank & Title']].head(10)

In [19]:
response = requests.get(url)
html = response.content
soup = BeautifulSoup(html)
links = soup.find_all('a', attrs={'href':re.compile("^/title"), 'title':''})[0:10]
links = ['https://www.imdb.com' + link['href'] for link in links]

In [20]:
r = [requests.get(link) for link in links]
html = [response.content for response in r]
soup = [BeautifulSoup(ht) for ht in html]
summary = [item.find_all('div', attrs={'class':'summary_text'})[0].text.strip() for item in soup]
top_10_movies['Summary'] = pd.Series(summary)

In [21]:
top_10_movies

,Rank & Title,Summary
0,1. Um Sonho de Liberdade (1994),Two imprisoned men bond over a number of years...
1,2. O Poderoso Chefão (1972),The aging patriarch of an organized crime dyna...
2,3. O Poderoso Chefão II (1974),The early life and career of Vito Corleone in ...
3,4. Batman: O Cavaleiro das Trevas (2008),When the menace known as the Joker wreaks havo...
4,5. 12 Homens e uma Sentença (1957),A jury holdout attempts to prevent a miscarria...
5,6. A Lista de Schindler (1993),"In German-occupied Poland during World War II,..."
6,7. O Senhor dos Anéis: O Retorno do Rei (2003),Gandalf and Aragorn lead the World of Men agai...
7,8. Pulp Fiction: Tempo de Violência (1994),"The lives of two mob hitmen, a boxer, a gangst..."
8,9. Três Homens em Conflito (1966),A bounty hunting scam joins two men in an unea...
9,10. O Senhor dos Anéis: A Sociedade do Anel ...,A meek Hobbit from the Shire and eight compani...

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [83]:
#https://openweathermap.org/current
city = input('Enter the city: ')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

Enter the city: sao paulo

In [87]:
response = requests.get(url)
info = response.json()

temp = info['main']['temp']
wind_speed = info['wind']['speed']
desc = info['weather'][0]['description']
weather = info['weather'][0]['main']

print(f'City: {city}\nTemperature: {temp}\nWind Spped: {wind_speed}\nDescription: {desc}\nWeather: {weather}')

City: sao paulo
Temperature: 28.59
Wind Spped: 3.1
Description: broken clouds
Weather: Clouds

#### Find the book name, price and stock availability as a pandas dataframe.

In [6]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/catalogue/'

i = 0
status_code = 200
while status_code == 200:
    i += 1
    url = 'http://books.toscrape.com/catalogue/page-'+str(i)+'.html'
    response = requests.get(url)
    status_code = response.status_code
    html = response.content
    soup = BeautifulSoup(html)

In [7]:
names = [item['title'] for item in soup.find_all('a', attrs={'title':re.compile("^")})]

In [8]:
prices = [item.text for item in soup.find_all('p', attrs={'class':'price_color'})]

In [9]:
stock = [item.text.strip() for item in soup.find_all('p', attrs={'class':'instock availability'})]

In [10]:
df = pd.DataFrame([names, prices, stock]).T
df = df.rename(columns={0:'Movie', 1:'Price', 2:'Stock Availability'})
df

Empty DataFrame
Columns: [Movie, Price, Stock Availability]
Index: []