## Challenge 1: Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

*Hint: you need to add a comma (`,`) after the single element.*

In [2]:
tup = ('I',)
tup

('I',)

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [4]:
type(tup)

tuple

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k',
```

In [6]:
tup.append('r')

# tuples are immutable

AttributeError: 'tuple' object has no attribute 'append'

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [8]:
tup = ("I", "r", "o", "n", "h", "a", "c", "k")
tup

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [18]:
tup1 = tup[:4]
tup1

('I', 'r', 'o', 'n')

In [56]:
tup2 = tup[4:]
tup2

('h', 'a', 'c', 'k')

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [29]:
tup3 = tup1 + tup2
print(f'tup3: {tup3}')
if tup3 == tup:
    print('tup3 equals to tup')

tup3: ('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
tup3 equals to tup

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`.

In [37]:
count_tup1 = len(tup1)
count_tup2 = len(tup2)
count_tup3 = len(tup3)

print(f'Number of elements in tup1 = {count_tup1}')
print(f'Number of elements in tup2 = {count_tup2}')
print(f'Number of elements in tup3 = {count_tup3}')

if count_tup1 + count_tup2 == count_tup3:
    print('The sum of of the number of elements in tup1 and tup2 is the same as the number of elements in tup3')

Number of elements in tup1 = 4
Number of elements in tup2 = 4
Number of elements in tup3 = 8
The sum of of the number of elements in tup1 and tup2 is the same as the number of elements in tup3

#### What is the index number of `"h"` in `tup3`?

In [39]:
tup3.index('h')

4

#### Now, use a FOR loop to check whether each letter in the following list is present in `tup3`:

```
letters = ["a", "b", "c", "d", "e"]
```

For each letter you check, print `True` if it is present in `tup3` otherwise print `False`.

*Hint: you only need to loop `letters`. You don't need to loop `tup3` because there is a Python operator `in` you can use. See [reference](https://stackoverflow.com/questions/17920147/how-to-check-if-a-tuple-contains-an-element-in-python).*

In [46]:
letters = ["a", "b", "c", "d", "e"]

for letter in letters:
    if letter in tup3:
        print(f'{letter} in tup3: True')
    else:
        print(f'{letter} in tup3: False')

a in tup3: True
b in tup3: False
c in tup3: True
d in tup3: False
e in tup3: False

#### How many times does each letter in `letters` appear in `tup3`?

Print out the number of occurrence of each letter.

In [51]:
for each_letter in letters:
    count = tup3.count(each_letter)
    print(f"'{each_letter}' appears {count} time(s) in tup3")

'a' appears 1 time(s) in tup3
'b' appears 0 time(s) in tup3
'c' appears 1 time(s) in tup3
'd' appears 0 time(s) in tup3
'e' appears 0 time(s) in tup3